{{>header}}
{{>navbar}}
<section class="my-5 container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Page numbers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="" class="btn btn-primary mx-3">Sort by Name</a>
                    <a href="" class="btn btn-primary mx-3">Sort by Pages number</a>
                    <a href="/" class="btn btn-primary mx-3">show</a>
                    <a href="/" class="btn btn-warning mx-3">Edit</a>
                    <a href="/" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{{>footer}}