{{>header}}
{{>navbar}}
<section class="my-5 container">
    <div>
        <input class="form-control me-2 mb-3" id="search" type="search" name="search" placeholder="Find a book"
            aria-label="Search" required />
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Book Name <a href="" class="btn btn-primary mx-3">Sort by Name</a> </th>
                <th>Page numbers <a href="" class="btn btn-primary mx-2">Sort by Pages number</a></th>
                <th>Author</th>
                <th>Section</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr class="">
                <td>{{book}}</td>
                <td>{{pages}}</td>
                <td>{{author}}</td>
                <td>{{section}}</td>
                <td>
                    <a href="/" class="btn btn-primary mx-3">show</a>
                    <a href="/" class="btn btn-warning mx-3">Edit</a>
                    <a href="/" class="btn btn-danger mx-3">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{>footer}}