{{>header}}
{{>navbar}}

<section class="my-5 container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Book Name </th>
                <th>Page numbers </th>
                <th>Author</th>
                <th>Section</th>
                <th>Actions</th>
            </tr>
        </thead>



        <form method="post">
            <tbody>
                <tr class="">
                    <td><input type="text" name="name" id="name" value="{{result.name}}"></td>
                    <td><input type="number" name="pages" id="pages" value="{{result.pages}}"></td>
                    <td><input type="text" name="author" id="author" value="{{result.author}}"></td>
                    <td><input type="text" name="section" id="section" value="{{result.section}}"></td>
                    <td>
                        <button type="submit" class="btn btn-warning">Update</button>
                    </td>
                </tr>

            </tbody>
        </form>
    </table>
    <a href="/" class="btn btn-primary">Back Home</a>
    {{>footer}}